* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  letter-spacing: 1px;
}

/* Body section */
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  background: rgb(35, 35, 35);
  color: white;
}

/* Navbar */
.navbar {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.navbar-links li {
  display: inline-block;
}
.navbar-links a {
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 1rem;
}
.navbar-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.2s ease;
}
.navbar-links a:hover::after {
  width: 100%;
}
.navbar-links a.active::after {
  width: 100%;
}

/* About section */
.about-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  text-align: center;
}
.about p {
  margin: 1rem;
}
.about p a {
  color: red;
}
